<button class="btn btn-primary" {{action 'smsLogin' on='click'}} disabled={{disabled}}>
  Prihlasit se pres SMS
</button>

{{!-- <button class="btn btn-primary" {{action 'emailLogin' on='click'}} disabled={{disabled}}>
  Prihlasit se pres email
</button> --}}