<button class="account-kit-login__button" {{action "smsLogin" on="click"}} disabled={{disabled}}>
  <i class="fab fa-whatsapp"></i>
  Prihlasit se pres SMS/Whatsapp
</button>

{{!-- <button class="btn btn-primary" {{action "emailLogin" on="click"}} disabled={{disabled}}>
  Prihlasit se pres email
</button> --}}