<div id="header" class="header__container">
  <div class="header__image-wrapper">
    <img src="/assets/images/header.png" alt="" class="header__image header__image--desktop">
    <img src="/assets/images/mobile_header.png" alt="" class="header__image header__image--mobile">
  </div>

  <h1 class="title is-2 is-sr-only">
    Tortuga Bay - Bar &amp; Grill
  </h1>
  <h2 class="subtitle is-4 is-sr-only">
    Best burgerrrs in town, aye.
  </h2>
</div>