<header class="index-header has-text-centered" id="header">
  <div class="index-container">
    <div class="index-header__image">
      <img src="/assets/images/tortuga-header.jpg" alt="" class="image">
    </div>

    <h1 class="title is-2 is-sr-only">
      Tortuga Bay - Bar &amp; Grill
    </h1>
    <h2 class="subtitle is-4 is-sr-only">
      Best burgerrrs in town, aye.
    </h2>
  </div>
</header>