<div class="message-header">
  <p>{{title}}</p>
  {{#if close}}
    <button class="delete" aria-label="delete" {{action close}}></button>
  {{/if}}
</div>
<div class="message-body">
  <!-- template-lint triple-curlies=false -->
  {{{formattedBody}}}
</div>