<div class="card product-card">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.description }}</h6>
  </div>
  <ul class="list-group list-group-flush">
    {{#each product.variations as |variation|}}
      <VariationLine @variation={{variation}} />
    {{/each}}
  </ul>
</div>