@import 'ember-bootstrap/bootstrap';

// bootstrap overrides
.container {
    @include media-breakpoint-up(lg) {
        max-width: 720px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 720px;
    }
}

body {
    padding: 1rem 0;
    background: #fff;
}

.jumbotron {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.product-card {
    margin-bottom: 1rem;
}

.variation-line {
    cursor: pointer;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: #fafafa;
    border-bottom-color: #fafafa;
}

.content-tab {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-top: 0;
    background: #fafafa;
    position: relative;
}

.content-tab__continue-btn {
    position: absolute;
    top: 14px;
    right: 20px;
}
