.field-label {
    @include tablet {
        flex-grow: 3;
    }
}

.card {
    margin-bottom: $spacing-double;
}

.card-content {
    @include until($tablet) {
        padding: $spacing-regular;
    }
}

.message {
    margin: $spacing-half;

    @include tablet {
        margin: $spacing-regular;
    }
}
