.field-label {
    @include tablet {
        flex-grow: 3;
    }
}

.card {
    margin-bottom: $spacing-double;
    border-radius: $radius;
}

.card-content {
    @include until($tablet) {
        padding: $spacing-regular;
    }
}

// add-on
.card-overlay {
    position: absolute;
    display: block;
    background: repeating-linear-gradient(45deg, $white, $white 20px, $white-bis 20px, $white-bis 40px);
    opacity: 0.8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    cursor: not-allowed;
}

.message {
    margin: $spacing-half;

    @include tablet {
        margin: $spacing-regular;
    }
}
