body {
    background: $background;
    background: linear-gradient(120deg, $background 0%, #fafafa 100%);
    color: $secondary-2;
}

strong {
    font-weight: $weight-semibold;
    color: #000;
}

.label {
    font-weight: $weight-semibold;
    color: #000;
}

.index-container {
    max-width: 100%;
    margin: 0 auto;
    padding: $spacing-double 0;

    @include tablet {
        max-width: $tablet;
    }
}

.level.level--heading,
.tab-heading {
    padding-left: $spacing-half;
    padding-right: $spacing-half;
    margin-top: $spacing-half;
    margin-bottom: 0;
}

.tab-heading,
.category__title {
    @extend .is-size-3;
    color: $secondary-4;
    font-weight: $weight-normal;
    margin-bottom: 0;
    font-family: $family-secondary;
}

.category__continue-cta {
    @include mobile {
        flex-direction: column;
        margin-bottom: $spacing-half;
    }
}

.category__total {
    font-family: $family-sans-serif;
    font-size: $size-6;
    font-weight: $weight-semibold;

    @include from($tablet) {
        margin-right: $spacing-regular;
        font-size: $size-6;
    }
}

.tabs {
    &.tabs--index {
        margin-bottom: 0;
    }
}

.tab__badge {
    margin-left: $size-7;
}

.tab {
    &.tab--disabled {
        pointer-events: none;

        &:hover,
        &:focus {
            outline: none;
            background: inherit;
        }
    }
}

.tab-pane {
    padding: $size-7;
}

.category {
    padding-bottom: $size-5;
}

.menu-continue {
    padding-bottom: $spacing-double;

    p {
        margin-bottom: $spacing-half;
    }
}

.footer strong {
    color: $grey-light;
}
