.account-kit-login {
    position: relative;

    @include tablet {
        left: 7px;
    }
}

.account-kit-login__button {
    background-color: #128c7e;
    color: #fff;

    &:hover,
    &:focus {
        color: #fff;
        outline: none;
    }

    &:disabled {
        opacity: 0.45;
    }
}
