.facebook-login {
    position: relative;
}

.facebook-login__button {
    background-color: #3b5998;
    color: #fff;

    &:hover,
    &:focus {
        color: #fff;
        outline: none;
    }

    &:disabled {
        opacity: 0.45;
    }
}
