.header {
    text-align: center;
    height: 200px;

    @include from($tablet) {
        height: 185px;
    }
}

.header__container {
    @extend .index-container;
    padding-top: $spacing-double;
    flex: 0;

    @include from($tablet) {
        padding-top: $spacing-double + 8;
        padding-bottom: $spacing-double + 8;
    }
}

.header__image-wrapper {
    margin: 0 auto;
    padding: 0 $spacing-regular;

    @include from($tablet) {
        padding: 0;
    }
}

.header__image {
    display: none;

    &.header__image--mobile {
        width: 150px;
        height: 150px;

        @include mobile {
            display: block;
            margin: 0 auto;
        }
    }

    &.header__image--desktop {
        @include from($tablet) {
            display: block;
        }
    }
}
