.order-form__identity {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;

    .icon {
        position: relative;
        top: 4px;
    }
}

.order-form__name-input {
    .input {
        // max-width: 240px;
    }
}

.order-form__submit-box {
    margin-top: $spacing-regular;
    text-align: center;
    padding-bottom: $spacing-regular;
}

.order-form__form {
    margin-top: 16px;
}
