.product-card__title {
    @extend .is-size-3;
    margin-bottom: 0 !important;
    font-family: $family-serif;
    font-weight: $weight-normal !important;
}

.product-card__description {
    @extend .is-size-6;
    color: $secondary-3;
    margin-top: $spacing-half;
}

.product-card__heading {
    &:not(.last-child) {
        margin-bottom: $spacing-more !important;
    }

    &.product-card__heading--short {
        margin-bottom: $spacing-regular !important;
    }
}
