.variation-line {
    transition: background-color 250ms ease-in-out;
    padding-bottom: $spacing-half;
    margin-bottom: $spacing-half;
    border-bottom: 1px solid $border;

    &:last-child {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.variation-line__title {
    max-width: 100%;
}

.variation-line__price {
    margin-right: $spacing-half;
}

.variation-line__quantity + .variation-line__price {
    margin-left: $spacing-regular;
}

.level {
    &.variation-line__level {
        margin-bottom: $spacing-more;

        &:last-child,
        &:nth-child(2) {
            margin-bottom: 0;
        }
    }
}
