<section class="hero is-fullheight">
  <Header />

  <div class="index-container">
    <Message @title="Ajajaj..." @body="Zdá se, že nám teď nějak teče do lodi... spravujem a záplatujem, ale nezbývá, než se u nás zastavit osobně a objednat si jako za starých časů." @context="danger" />
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; 2019 Tortuga Bay - Bar &amp; Grill</strong>
      </p>
    </div>
  </footer>
</section>